<ons-navigator title="Navigator" var="myNavigator">
   <ons-page>
    <script type="text/javascript">
        var resultmarca = {};
        function pesquisar(nome){
        
         var q = "SELECT * FROM MARCA WHERE marca LIKE '%"+nome+"%' ORDER BY marca ASC";
         var db = openDatabase('mydb', '1.0', 'Test DB', 5 * 1024 * 1024);
         
            db.transaction(function (t) {
                t.executeSql("CREATE TABLE IF NOT EXISTS FAZENDA (id INTEGER PRIMARY KEY ASC, fazenda TEXT, descricao TEXT)", []);
                t.executeSql(q, null, function (t, data) {
                    
                    var html = "";
                    for (var i = 0; i < data.rows.length; i++) {
                           html += "<li class='list__item'> <span class='list__item__line-height' onClick='editar(" + data.rows.item(i).id + ");'>" + 
                          //data.rows.item(i).id + "</td><td class='list__item'>" +
                          data.rows.item(i).marca + "</span><span style='float:right;margin-top:8px;'> <button  id='deletar' class='button' onClick='deletar(" + data.rows.item(i).id + ");'> <i class='fa fa-trash-o'></i></button></span>"+//<td class='list__item'>" +
                          //data.rows.item(i).descricao + "</td>
                          "</li>";
                    }
                    var el = document.getElementById("tableResults");
                    el.innerHTML = html;
                    if(data.rows.length <= 0){
                       el.innerHTML = "<span class='list__item__line-height'><center>Nenhuma marca cadastrada.<center></span>";
                    }
                });
            });
            if(nome == ''){
                index();
            }
           
        };
</script>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="ons.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">Marcas</div>
            <div class="right">
        <ons-toolbar-button ng-click="myNavigator.pushPage('nova_marca.html')"><ons-icon icon="fa fa-plus"></ons-icon></ons-toolbar-button>
      </div>
            </ons-toolbar>
<input type="search" class="search-input" id="pesquisa" style="width: 96%; margin: 6px auto 6px auto;" onKeyUp="pesquisar(this.value);" placeholder="Pesquisar">
            
    <div id="results">
        
    </div>
     <ul id="tableResults" class="list">
 
    </ul>
 
    <script type="text/javascript">

         var q = "SELECT * FROM MARCA ORDER BY marca ASC";
         var db = openDatabase('mydb', '1.0', 'Test DB', 5 * 1024 * 1024);
         
            db.transaction(function (t) {
                t.executeSql("CREATE TABLE IF NOT EXISTS MARCA (id INTEGER PRIMARY KEY ASC, marca TEXT, proprietario TEXT, descricao TEXT)", []);
                t.executeSql(q, null, function (t, data) {
                    var html = "";
                    for (var i = 0; i < data.rows.length; i++) {
                          html += "<li class='list__item'> <span class='list__item__line-height'  onClick='editar(" + data.rows.item(i).id + ");'>" + 
                          //data.rows.item(i).marca + "</td><td class='list__item'>" +
                          data.rows.item(i).marca + "</span><span style='float:right;margin-top:8px;'> <button  id='deletar' class='button' onClick='deletar(" + data.rows.item(i).id + ");'> <i class='fa fa-trash-o'></i></button></span>"+//<td class='list__item'>" +
                          //data.rows.item(i).descricao + "</td>
                          "</li>";
                    }
                    var el = document.getElementById("tableResults");
                    el.innerHTML = html;
                    if(data.rows.length <= 0){
                       el.innerHTML = "<span class='list__item__line-height'><center>Nenhuma marca cadastrada.<center></span>"
                    }
                });
            });
            
            function deletar(id){
               db.transaction(function(tx){
               tx.executeSql("DELETE FROM MARCA WHERE id=?", [id], app.slidingMenu.setMainPage('marcas.html', {closeMenu: true}), handleErrors);
          });
          }
          function handleErrors(transaction, error) {
            alert(error.message);
            return true;
        }
        function editar(id){
               
                if(id != null){
                    var db = openDatabase('mydb', '1.0', 'Test DB', 5 * 1024 * 1024);
                    db.transaction(function (t) {
                       t.executeSql("SELECT * FROM MARCA WHERE id=?", [id], function (t, data) {
                           resultmarca = data.rows.item(0);
                            /*$('#marca').val(data.rows.item(0).marca);
                            $('#proprietario').val(data.rows.item(0).proprietario);
                            $('#descricao_marca').val(data.rows.item(0).descricao);
                            $('#recebe').val(data.rows.item(0).id);
                            console.log(data);*/
                             myNavigator.pushPage("editar_marca.html");
                        });
                    });
                }
            }
           
    </script>
    </ons-page>
    
    <ons-template id="editar_marca.html">
     <ons-page >
        <ons-toolbar>
            <div class="left">
                <ons-back-button>Voltar</ons-back-button>
            </div>
            <div class="center">Editar Marca </div>
             <div class="right">
                <ons-toolbar-button id="btnEditMarc">Salvar</ons-toolbar-button>
            </div>
        </ons-toolbar>
            
            <ul style="margin-left: -40px;" >
                <li class="list__item">
                    <input class="text-input text-input--transparent" style="width:100%; margin-top:4px;" placeholder="Marca" id="marca">
                </li>
                <li class="list__item">
                    <input class="text-input text-input--transparent" style="width:100%; margin-top:4px;" placeholder="Proprietário" id="proprietario">
                </li>
                <li class="list__item">
                    <input type="text" class="text-input text-input--transparent" style="width:100%; margin-top:4px;" id="descricao_marca" placeholder="Descrição">
                </li>
                <input type="hidden" id="recebe">
                <br>
                 
            </ul>
    
    <script type="text/javascript">
        $('#id_c').val(resultmarca.marca);
                            $('#marca').val(resultmarca.marca);
                            $('#proprietario').val(resultmarca.proprietario);
                            $('#descricao_marca').val(resultmarca.descricao);
                            $('#recebe').val(resultmarca.id);
                            
        $('#btnEditMarc').click(function(){
            var db = openDatabase('mydb', '1.0', 'Test DB', 5 * 1024 * 1024);
                id_c = $('#recebe').val();
                marca = $('#marca').val();
                desc = $('#descricao_marca').val();
                prop = $('#proprietario').val();
                db.transaction(function (tx) {
                    tx.executeSql('UPDATE MARCA SET marca = "'+marca+'", proprietario = "'+prop+'", descricao = "'+desc+'" WHERE id=?', [id_c], app.slidingMenu.setMainPage('marcas.html', {closeMenu: true}), null);
                    console.log(id_c);
                });
            
        });
        
    </script>
    </ons-page>
</ons-navigator>

