<ons-navigator title="Navigator" var="myNavigator">
   <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="ons.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">Relatórios</div>
            <!--<div class="right">
                <ons-toolbar-button ng-click="myNavigator.pushPage('home.html')"><ons-icon icon="fa fa-plus"></ons-icon></ons-toolbar-button>
            </div>-->
            </ons-toolbar>
            <img src="http://nagiosnapratica.files.wordpress.com/2010/12/graficos.jpg" />